.dash-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.dash-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white-font {
  color: white;
  font-weight: 400;
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif; 
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 100px;
}

.my-flex {
  display: flex;
  flex-direction: row;
  padding: 15px;
}