<h1>
  dashboard works!
</h1>

<div *ngIf="user">
  <p>Welcome {{user.firstname}} {{user.lastname}},</p>
  <p> Current Membership: {{user.membership}} </p>
  <a [routerLink]="['/search']"><button type="submit">Search</button></a>
  <a [routerLink]="['/']"><button type="submit" (click)="logout()">Log Out</button></a>
</div>

<div>
<button (click)="getUsersGyms()">get My gyms</button>
</div>

<div>
{{myGymService.myGym}}
</div>

<div *ngFor="let gym of gymList">

  <h1>{{gym.name}}</h1>
  <img [src]="gym.pic"  height="200px"/>
    <p><b>Location</b></p>
    <p>{{ gym.formatted_address }}</p> 
    <p><b>Rating</b></p>
    <p>{{ gym.rating }}</p> 
    <div *ngFor="let popTimes of gym.busyTimes[0]">
      <div *ngIf="isDate(popTimes.day)">
        <h3>{{popTimes.day}}</h3>
         <div *ngFor="let time of popTimes.busyInfo[0]">
          <ul>
            <li>during hour:{{time.hour}} is % :{{time.percentage}} , busy</li>
          </ul>
          <br>
          </div>
        </div>
      </div>
      <button (click)="deleteGym(gym.place_id, user._id)">Delete</button>


</div>