<!-- 
<h1>
  dashboard works!
</h1>

<div *ngIf="user">
  <p>Welcome {{user.firstname}} {{user.lastname}},</p>
  <p> Current Membership: {{user.membership}} </p>
  <a [routerLink]="['/search']"><button type="submit">Search</button></a>
  <a><button type="submit" (click)="logout()">Log Out</button></a>
</div> -->

<app-main-nav>
<div class="dash-nav">
    <div class="dash-info" *ngIf="user">
      <h1 class="white-font">Welcome {{user.firstname}},</h1>
      <h2 class="white-font">Membership: {{user.membership}} </h2>
    </div>

</div>
  

  
  <div>
    <mat-card>
        <mat-card-content>
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="My Info">
              <div class="demo-tab-content">
                <div>  
                  <p>Name: {{user.firstname}} {{user.lastname}} </p>
                  <p>Email: {{user.email}}</p>
                  <p>Date of Birth: {{user.dob}}</p>
                  <p>Address: {{user.address}}</p>
                  <p>Phone: {{user.phone}}</p>
                  <p>Username: {{user.username}}</p>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="My Flex">
              <div class="my-flex">
                  <div *ngFor="let gym of gymList">
                      <!-- {{gym.place_id}} -->
                      <img [src]="gym.pic"  width="200px;"/>
                      <h3><b>{{gym.name}}</b></h3>
                        <p class="address-width">{{ gym.formatted_address }}</p> 
                        <p> <span class="rating" attr.data-rating="{{gym.rating}}" data-star="★★★★★"></span>  {{gym.rating / 20}}</p> 
                        <div *ngFor="let popTimes of gym.busyTimes[0]">
                          <div *ngIf="isDate(popTimes.day)">
                            <!-- <h3>{{popTimes.day}}</h3> -->
                             <div *ngFor="let time of popTimes.busyInfo[0]">
                              <ul>
                                <!-- <li>during hour:{{time.hour}} is % :{{time.percentage}} , busy</li> -->
                              </ul>
                              </div>
                            </div>
                          </div>
                          <button (click)="deleteGym(gym.place_id, user._id)">Delete</button>
                          <!-- <button (click)="replaceGym(gym.place_id, user._id)">Swap This Gym!</button> -->
                    </div>
              </div>  
            </mat-tab>
            <!-- SEARCH TAB -->
            <mat-tab label="My Info">
                <div class="demo-tab-content">
                  <div class="container-gyms">
                    <div class="search-contain">
                        <div>
                            <form class="search">
                              <mat-form-field>
                        
                                <mat-icon matSuffix>location_on</mat-icon>
                                <input matInput mat-icon placeholder="Find Your Gym" type="search" [(ngModel)]="resultSearch.searchTerm" name="search" (keyup.enter)= "gymSearch()">
                                <button class="search-btn" mat-button type="button" (click)="gymSearch()"><mat-icon matSuffix>search</mat-icon></button>
                              </mat-form-field>
                            </form>
                          </div> 

                          <div class="info-contain">
    
                              <!-- START OF GYM INFO -->
                        
                              <div class="gym-contain">
                                <div class="single-gym" *ngFor="let gym of mySearch.gymResults">
                                  <img [src]="gym.pic"  height="150px" width="250px"/>
                                  <h4><b>{{ gym.name }}</b></h4> 
                        
                                      <p>{{ gym.formatted_address }}</p> 
                                        <p><b>Rating</b></p>
                                          <p>{{ gym.rating }}</p> 
                                          <!-- <p>{{gym.place_id}}</p> -->
                                    
                                    <div *ngFor="let popTimes of gym.busyTimes[0]">
                                      <div *ngIf="isDate(popTimes.day)">
                                        <!-- <h3>{{popTimes.day}}</h3>  THIS IS THE CURRENT DAY --> 
                                        <!-- <h4>Current Times</h4> -->
                                        <div *ngFor="let time of popTimes.busyInfo[0]">
                                          <ul>
                                            <!-- <li>during hour:{{time.hour}} is % :{{time.percentage}} , busy</li> -->
                                          </ul>  
                                        </div>  
                                      </div>
                                    </div>
                                    <!-- Add Gym Button -->

                                    <button  mat-button mat-icon type="submit" (click)="addGym(gym.place_id, user)"><mat-icon>add_circle_outline</mat-icon> </button>


                        
                                  </div>
                                  </div>
                                  </div>
                    </div>
                    <!-- ########################## END OF SEARCH COLUMN ############################## -->
                    <div class="map"> 
                      <app-googlemap [searchResults] = "mySearch.gymResults"></app-googlemap>
                    </div>
                    <!-- ########################## END OF MAP COLUMN ############################## -->
                    
                    <div>
                      
                      <h2>gyms added</h2>
                    
                        <div *ngFor="let side of sideGyms">
                            <p>ahahahahah</p>
                            <h2>{{side}}</h2>
                          </div>
                      
                    </div>
                  </div>
                  
                  
                  <!-- ########################## END OF MY FLEX ############################## -->
                  
                </div>
              </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
  </div>
<!-- ******************************************SEARCH CONTENT************************************************************ -->


  
  
<!-- ******************************************END SEARCH CONTENT************************************************************ -->


</app-main-nav>