<h1> Sign Up </h1>
<form>
  <label> First Name </label>
  <input type="text" [(ngModel)]="formInfo.firstname" name="username"/>
  <br>
  <label> Lasy Name </label>
  <input type="text" [(ngModel)]="formInfo.lastname" name="username"/>
  <br>
  <label> Date Of Birth </label>
  <input type="text" [(ngModel)]="formInfo.dob" name="username"/>
  <br>
  <label> Address </label>
  <input type="text" [(ngModel)]="formInfo.address" name="username"/>
  <br>
  <label> Email </label>
  <input type="text" [(ngModel)]="formInfo.email" name="username"/>
  <br>
  <label> Phone </label>
  <input type="text" [(ngModel)]="formInfo.phone" name="username"/>
  <br>
  <label> Membership </label>
  <select name="membership" [(ngModel)]="formInfo.membership">
    <option value="flex1">Flex 1</option>
    <option value="flex2">Flex 2</option>
    <option value="flex3">Flex 3</option>
  </select>
  <br>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <br>

  <a [routerLink]= "['/login']"><button (click)="signup()"> Signup </button></a>
</form>
<p class="error"> {{ error }} </p>
