<h1>discover page</h1>

<br><br>
<label for="search">search</label>
<br><br>
<input type="search" [(ngModel)]="resultSearch.searchTerm" name="search" placeholder="search">
<br><br>
<button type="button" (click)="gymSearch()">search</button>
<button type="button" (click)="getArray()">Result</button>
<div>today is: {{today}}</div>
<div *ngFor="let gym of mySearch.gymResults">

    <h2>{{ gym.name }}</h2> 
    <p><b>Location</b></p>
    <p>{{ gym.formatted_address }}</p> 
    <p><b>Rating</b></p>
    <p>{{ gym.rating }}</p> 
    <div *ngFor="let popTimes of gym.busyTimes[0]">
      <div *ngIf="isDate(popTimes.day)">
      <h3>{{popTimes.day}}</h3>
      <div *ngFor="let time of popTimes.busyInfo[0]">
        <ul>
          <li>during hour:{{time.hour}} is % :{{time.percentage}} , busy</li>
        </ul>





      </div>
      
    </div>



    </div>


















    </div>


    <!-- <div *ngFor="let week of gym.week[0]">

        <div *ngIf="isDate(week.day)">why</div>

      <div> {{week.day}}</div> -->
      <!-- <div *ngIf="Date().includes('week.day')"></div> -->
      <!-- <ul *ngFor="let busy of week.hours">

        
          <li>
            hour of day:{{busy.hour}} ---  percentage busy: {{busy.percentage}}
          </li>


      </ul>


  
    </div>
  
    

  
  </div> -->

